.employee_page{
    padding-top: 5rem;
    width: 100%;
    height: 100vh;
    .emp_container{
        margin: 0 auto;
        max-width: 1728px;
        width: 95%;
        height: 98%;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
        border-radius: 10px;
        position: relative;
        .emp_login{
            width: 45%;
            height: 50%;
            max-height: 400px;
            min-height: 350px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding: 10px 20px;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
            border-radius: 20px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
            background-color: white;
            h3{
                margin-bottom: 20px;
            }
            form{
                height: 70%;
                display: flex;
                flex-direction: column;
                span{
                    margin: 10px 0;
                    input{
                        height: 40px;
                        width: 100%;
                    }
                }
            }
        }
    }
    .emp_container_bcgd::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50%;
        background-color: #1279d6;
    }
}

.emp_cards{
    height: 100%;
    .emp_cards_header{
        height: 10%;
        min-height: 50px;
        display: flex;
        align-items: center;
        padding: 1rem;
        justify-content: space-between;
        .emp_cards_left{
            display: flex;
            align-items: center;
            h3{
                margin-left: 10px;
            }
        }
        .emp_cards_right{
            
        }
    }
    .emp_cards_container{
        height: 90%;
        overflow-y: scroll;
    }
}

@media (max-width:768px){
    .emp_login{
        width: 65% !important;
        font-size: 14px;
    }

    .emp_cards_header{
        height: 8%;
        min-height: 50px;
    }

    .emp_cards_container{
        height: 92%;
    }
}

.emp_nav{
    width: 100%;
    height: calc(100% - 4rem);
    overflow: hidden;
    position: absolute;
    top: 4rem;
    z-index: 999;
}

.emp_dialog{
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 4rem;
    z-index: 1;
}

.emp_dialog::before{
    content: "";
    width: 100%;
    height: 100%;
    background: #222;
    opacity: 0.3;
    position: absolute;
    top: 0;
}