<div class="ud">
    <div class="ud_header">
        <div class="ud_profile">
            <p-avatar [label]="userData.firstName[0]" styleClass="mr-2" size="xlarge" shape="circle"></p-avatar>
            <span>{{userData.employeeName}}</span>
        </div>
        <p-button (click)="showSuggestions()" [label]="showSuggestionsFlag ? 'Hide Suggestions' : 'Show Suggestions'"></p-button>
    </div>
    <div class="ud_container">
        <div class="ud_left">
            <div class="ud_sidemenu">
                <span class="sub_hdr" [ngClass]="taskType=='todo'?'active':''" (click)="handleStatus('todo')"><i class="pi pi-list"></i>ToDo</span>
                <span class="sub_hdr" [ngClass]="taskType=='inprogress'?'active':''" (click)="handleStatus('inprogress')"><i class="pi pi-clock"></i>In Progress</span>
                <span class="sub_hdr" [ngClass]="taskType=='completed'?'active':''" (click)="handleStatus('completed')"><i class="pi pi-check-circle"></i>Completed</span>
            </div>
        </div>
        <div class="ud_right" *ngIf="taskType!==''">
            <app-user-task-manager [taskType] = "taskType"></app-user-task-manager>
        </div>
    </div>
</div>

<div class="suggestions" [ngClass]="showSuggestionsFlag ? 'hide' : 'show'" *ngIf="showSuggestionsFlag">
    <app-suggestions></app-suggestions>
</div>