<div class="utm_content" *ngIf="taskType!=='todo'">
    <p-table [value]="certificates" [tableStyle]="{'min-width': '50rem'}">
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th>Name </th>
                <th *ngIf="taskType!=='todo'">Start Date</th>
                <th *ngIf="taskType!=='todo'">End Date</th>
                <th>Information</th>
                <th *ngIf="taskType=='completed'">Download</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-certificate let-columns="columns">
            <tr>
                <td>{{ certificate.name}}</td>
                <td *ngIf="taskType!=='todo'">{{ (certificate.startDate | date:'MM/dd/yyyy') || '-' }}</td>
                <td *ngIf="taskType!=='todo'">{{ (certificate.endDate | date:'MM/dd/yyyy') || '-' }}</td>
                <td><p-button  (click)="checkInfo(certificate)" label="Info" severity="info"></p-button></td>
                <td *ngIf="taskType=='completed'"><i class="pi pi-download"></i></td>
            </tr>
        </ng-template>
    </p-table>
</div>


<div *ngIf="taskType=='todo'" class="utm_todo_content">
    <div class="utm_todo_container">
        <div class="utm_card">
            <div class="utm_card_top"></div>
            <div class="utm_card_middle">
                <span class="name">Associate</span>
                <span class="level">Entry Level</span>
            </div>
            <div class="utm_card_bottom"><span>Add to Progress</span></div>
        </div>
    </div>
</div>


<div class="ud_dialog_container">
    <p-dialog header="Certification Details" [(visible)]="visible" [breakpoints]="{ '960px': '75vw' }" [style]="{ width: '60vw' }" [draggable]="false" [resizable]="false">
        <p-table class="ud_dialog_table" [value]="certInBox" [tableStyle]="{'min-width': '50rem'}">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th class="ud_th">Certificate Name </th>
                    <th class="ud_th">Cost</th>
                    <th class="ud_th">Type</th>
                    <th class="ud_th">Level</th>
                    <th class="ud_th">Experience</th>
                    <th class="ud_th">Prerequisite</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-certData let-columns="columns">
                <tr class="ud_tr">
                    <td>{{ certData.name}}</td>
                    <td>{{ certData.cost }}</td>
                    <td>{{ certData.type}}</td>
                    <td>{{ certData.level}}</td>
                    <td>{{ certData.experience }}</td>
                    <td>{{ certData.prerequisite}}</td>
                </tr>
            </ng-template>
        </p-table>
    </p-dialog>
</div>
