<div class="mp">
    <div class="mp_container">
        <div class="mp_card">
            <div class="card_r1">
                    <span class="cname c1"><b>Certification Name </b>Name</span>
                    <span class="ctype c1"><b>Type </b>type</span>
                    <span class="clevel c1"><b>Level </b>level</span>
                    <span class="cexp c1"><b>Experience </b>exp</span>
                    <span class="cprereq c1"><b>Prerequisite </b>prereq</span>
                    <span class="cstatus c1"><b>Status </b>status</span>
            </div>
            <div class="card_r2">
                <div class="card_steps">
                    <p-steps [model]="taskStatus" [activeIndex]="activeIndex" [readonly]="false" (activeIndexChange)="onActiveIndexChange($event)"></p-steps>
                </div>
            </div>
        </div>
    </div>
</div>