<div class="filtd_emp">
    <div class="filtd_emp_container">
        <div class="filtd_emp_header">
            <div class="filtd_emp_backbtn">
                <p-button label="Back" [disabled]="false" (click)="back()"></p-button>
                <i *ngIf="cardsFlag" class="pi pi-bars" (click)="onNavOpen()"></i>
            </div>
        </div>
        @if (!cardsFlag) {
            <div class="filtd_emp_body1">
                <div class="femp_cards" *ngFor="let emp of employeeList">
                    <div class="card_avatar card1">
                        <p-avatar [label]="emp.employeeName[0]" styleClass="mr-2" size="xlarge" shape="circle"></p-avatar>
                    </div>
                    <div class="card_name card1">
                        <!-- <span>Employee Name : </span> -->
                        <span>{{emp.employeeName}}</span>
                    </div>
                    <div class="card_position card1">
                        <!-- <span>Position : </span> -->
                        <span>{{emp.position}}</span>
                    </div>
                    <div class="card_email card1">
                        <!-- <span>Email : </span> -->
                        <span>{{emp.email}}</span>
                    </div>
                    <div class="card_btn card1">
                        <button (click)="viewDetails(emp)">View Details</button>
                    </div>
                </div>
            </div>
        }
        @else {
            <div class="filtd_emp_body2">
                <div *ngFor="let certDetails of certData.certifications">
                    <app-certification-card [certData]="certDetails" [userId]="certData.id" (certRemoved)="onCertRemoved($event)" ></app-certification-card>
                </div>
            </div>
        }
        <div class="filtd_emp_nav" *ngIf="globalService.showNavigationFlag" >
            <app-side-nav></app-side-nav>
        </div>
    </div>
</div>
