<div class="certification_card">
    <div class="cert_card_container">
        <div class="cert_card">
            <div class="card_r1">
                    <span class="cname c1"><b>Certification Name </b>{{certData.certificationName}}</span>
                    <span class="ctype c1"><b>Type </b>{{certData.type || '-'}}</span>
                    <span class="clevel c1"><b>Level </b>{{certData.level || '-'}}</span>
                    <span class="cstartData c1" *ngIf="activeIndex!==0"><b>Start Date </b>{{(certData.startDate | date:'MM/dd/yyyy') || '-'}}</span>
                    <span class="cendDate c1" *ngIf="activeIndex==2"><b>End Date </b>{{(certData.endDate | date:'MM/dd/yyyy')  || '-'}}</span>
                    <span class="cexp c1"><b>Experience </b>{{certData.experience  || '-'}}</span>
                    <span class="cprereq c1"><b>Prerequisite </b>{{certData.prerequisite || '-'}}</span>
                    <span class="cstatus c1"><b>Status </b>{{taskStatus[certData.status].label || '-'}}</span>
            </div>
            <div class="card_r2">
                <div class="card_steps">
                    <p-steps [model]="taskStatus" [activeIndex]="activeIndex" [readonly]="false" (activeIndexChange)="onActiveIndexChange($event)"></p-steps>
                </div>
            </div>
        </div>
    </div>
</div>